.todo {
    margin-bottom: 1rem;
}

.todo.completed span {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #f3f3f3;
}

.todo i {
    z-index: 2;
}

.input-field>label {
    position: relative;
}

.todo-enter {
    opacity: 0;
}
.todo-enter-active {
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0.37, -0.18, 0.53, 1.53);
}
.todo-exit {
    opacity: 1;
}
.todo-exit-active {
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.37, -0.18, 0.53, 1.53);
}